@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');

$default-background-color: #ffffff
$default-background-dark-color: #191919
$default-background-gray-color: #eeeeee
$default-background-green-color: #3CC459
$default-background-dark-green-color: #10A841
$default-footer-color: #191919

$text-color-normal: #4c4c4c
$text-color-gray-super-light: #aaaaaa
$text-color-gray-light: #777777
$text-color-gray: #666666

$page-color-gray: #444444

$shadow-color-blue: #3F89DD
$shadow-color-black: rgba(0, 0, 0, 0.3)

$gradient-light-blue: #5DFCF8
$gradient-dark-blue: #3985F7
$gradient-light-yellow: #FFE854
$gradient-dark-yellow: #FFCB67

$gradient-light-purple: #9B28DA
$gradient-dark-purple: #853CFF

$gradient-light-green: #61FAFF
$gradient-dark-green: #18DB60

@mixin size($width, $height)
	width: $width
	height: $height

*
	position: relative
	color: white
	font-family: 'Noto Sans', sans-serif
html, body
	background-color: $default-background-color
	margin: 0px
	padding: 0px

#container
	margin-left: auto
	margin-right: auto

section
	height: 800px
	background-color: transparent
	width: 100%
	padding: 60px 0px
	h1
		text-align: center
h1
	color: $text-color-normal
	font-size: 28px
	font-weight: 700
	line-height: 90px
	display: block
	margin-top: 8px
	margin-bottom: 8px
	
h2 
	color: $text-color-normal
	font-size: 20px
	font-weight: 300
	margin-top: 8px
	margin-bottom: 16px
	text-align: center
	line-height: 32px

h3, span
	color: $text-color-normal
	font-size: 16px
	font-weight: 300
	margin-top: 10px
	margin-bottom: 10px
	letter-spacing: 0px
	line-height: 26px

a
	font-size: 20px
p
	color: $text-color-normal
	font-size: 18px
	font-weight: 300
	margin-top: 2px
	margin-bottom: 2px
	line-height: 27px

.fade-router-enter-active, .fade-router-leave-active 
  transition: opacity 0.3s


.fade-router-enter, .fade-router-leave-active 
  opacity: 0


